# Database Connections
MYSQL_CONNECTOR_PATH=''  # Path to MySQL connector JAR file
MONGODB_URI='mongodb://localhost:27017'
MYSQL_URL="jdbc:mysql://localhost:3306/candy_store"
MYSQL_USER=''  # MySQL username
MYSQL_PASSWORD=''  # MySQL password

# Database Names and Tables
MYSQL_DB="candy_store"
CUSTOMERS_TABLE='customers'
PRODUCTS_TABLE='products'
MONGO_DB="candy_store"
MONGO_COLLECTION_PREFIX='transactions_'
MONGO_START_DATE='20240201'  # Start date for transaction data
MONGO_END_DATE='20240210'    # End date for transaction data

# Output Path
OUTPUT_PATH="data/output"